@model OnlineBookStore.ViewModels.BookListViewModel;
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div><h2>All Books</h2></div>

<h2>@Model.CurrentCategory</h2>
@{ 
    foreach (var book in Model.BookList)
    {
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@book.BookImageThumbnailUrl" alt=""/>
            <div class="caption">
                <h3 class="pull-right"></h3>
                <h3>Price: @book.BookPrice.ToString("c")</h3>
                <a>@book.BookName</a>                
                <p>@book.BookShortDescription</p>
            </div>
        </div>
    </div>
    }
}